h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}


header{
    color:white;
    background-color:rgb(33, 33, 33);
    
}

header .container{
    position: fixed;
    padding: 0px;
    z-index: 1;
}

header .nav-item{
    
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: rgb(200, 240, 100);
  
}
header li{
    margin: 0px 20px;
}

header form{
    
    right: 10px;
}
/*=======================================================================*/
.slider{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(120deg, rgb(33, 33, 33), rgb(80, 80, 80));
    z-index: -1;
}

#intro .jumbotron {
    height:100vh;
    color:rgb(255, 255, 255);
    margin-bottom: 0px;
}

#intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*background-image: url(../pictures/space.jpg);
    background-size: 100%;
    object-fit: cover;*/
    display:flex;
    justify-content: center;
    align-items: center;
}
#intro h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    line-height: 1.5;
}






/*==============================================================*/

#intro .introAnimation{
    display:flex;
    justify-content: center;
    align-items: center;
}

#intro .introAnimation .outerCircle{
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;  
    text-align: center;
    animation: move 30s linear infinite; 
}

@keyframes move{
    to{
        transform: rotate(360deg);
    }
}

#intro .introAnimation .outerCircle span{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: rgb(33, 33, 33);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(150, 250, 1);
}

#intro .introAnimation .outerCircle span:nth-child(1){
    left: calc(50% - 25px);
    top: -25px;
}

#intro .introAnimation .outerCircle span:nth-child(2){
    right: -25px;
    top: calc(50% - 25px);
}

#intro .introAnimation .outerCircle span:nth-child(3){
    left: -25px;
    top: calc(50% - 25px);
}

#intro .introAnimation .outerCircle span:nth-child(4){
    bottom: -25px;
    left: calc(50% - 25px);
}

#intro .introAnimation .innerCircle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#intro .introAnimation .innerCircle img{
    width: 200px;
    height: 200px;
}

/*==============================================================*/

#aboutMe{
    height: 100vh;
    background-image:linear-gradient(120deg,rgb(200, 200, 200),rgb(248,248,248));
}

#aboutMe H2{
    margin: 8%;
    padding: 50px;
    margin-bottom: 50px;
}

#aboutMe img{
    width: 120px;
    height: 120px;
}

#aboutMe h3{
    text-align: center;
}

#aboutMe li{
    text-align: left;
}

#aboutMe .left{
    padding: 23px;
    
    border-radius: 40px;
    box-shadow: 0 0 120px  rgb(150, 250, 1);
}

#aboutMe .right{
    margin-top: 20px;
}

#aboutMe img{
    width: 150px;
    height: 150px;
    padding: 3px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(150, 250, 1);
}

/*==================================================*/

#myProject{
    height: 100vh;
    color: whitesmoke;
    background-image:linear-gradient(120deg, rgb(33, 33, 33), rgb(80, 80, 80));;
}

#myproject H2{
    margin: 8%;
    padding: 50px;
    margin-bottom: 0px;
}

#myproject img{
    max-width: 100%;
}



#myproject .outer{
    max-width: 100%;
    padding: 30px;
    color: black;
    box-shadow: 3px 3px 9px 3px rgb(150, 250, 1);
}

#myproject .upper img{
    width: 500px;
    height: 350px;
}
#myproject .upper{
    position: relative;
    
}

#myproject .innertext{
    position: absolute;
    bottom:10px;
    left:10px;
}

#myproject .lower{
    background: rgb(200, 240, 100);
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    
}
span{
    background: rgb(200, 240, 100, 0.5);
    border-radius: 30px;
    padding: 6px;
}

/*=====================================================================*/

#contactMe{
    height: 100vh;
    background: whitesmoke;
}

#contactMe H2{
    margin: 8%;
    padding: 50px;
    margin-bottom: 0px;
}

#contactMe H4{
    margin-bottom: 20px;
}

#contactMe .wrapper{
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
    border: 1px solid black;
   
}

form .field input{
  width: 100%;
  height: 40px;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form .message textarea{
  width: 100%;
  height: 80px;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}  

form .button-area{
    margin: 25px 0;
    
  }
  .button-area button{
    color: black;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: rgb(175, 228, 42);
    transition: background 0.3s ease;
  }
  .button-area button:hover{
    background: rgb(200, 240, 100);
  }
  .button-area span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
